<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calendario/css/SignUp.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wire+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Calendarium- SignUp</title>
</head>
<body>
    <header class="header">
        <img class="imagenHeader" src="{% static 'calendario/img/logo.png' %}" alt="logo">
        <h1 class="tituloHeader">Calendarium</h1>
    </header>
    <main class="principal">
        <div class="slogan">
            <h3 class="frase1">Tener un calendario</h3>
            <h3 class="frase2">Es tener un hábito</h3>
        </div>
        <div class="formulario">
            <p class="frase3">Se parte de la familia Calendarium</p>
            <a href="{% url 'RegistroView' %}"><input type="submit" value="Registrate"></a>
            <p class="frase4">Ya eres usuario. Ve a <a href="{% url 'login' %}">Sign in</a></p>
        </div>
    </main>
</body>
</html>